body {
  background: #FFFFFF;
  font-family: sans-serif;
  font-weight: 200;
  color: #50514F;
  margin: 0;
}

a {
  color: #50514F;
}
a:hover {
  color: #247BA0;
  transition: all 0.3s;
}

::selection{
  color: #247BA0;
  background: #FFE066;
} 
::-moz-selection {
  color: #247BA0;
  background: #FFE066;
}

.Content {
  flex: 1;
  margin-top: 60px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  padding: 0 20px;
  max-width: 720px;
  margin: 0 auto;
}

.Footer {
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid #247BA0;
  text-align: center;
}

.Resize {
  border: 3px solid #247BA0;
  padding: 50px;
}
